$bg-color: #08080c;
$black: #08080c;
$black-lighten: #161621;
$white: #feefdd;
$primary: #3f0071;
$primary-lighten: #fb2576;
$primary-darken: #160052;
$border-radius: 10px;

@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa"), url("@/assets/styles/fonts/comfortaa-variable.ttf") format("truetype");
  font-display: swap;
}
// https://coolors.co/08080c-160052-3f0071-fb2576-feefdd
// 000814
