* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
body {
  background-color: $black;
}
ul {
  list-style: none;
}
